<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="site/commons/commons::head(~{::title}, ~{::link})">
    <title>About Me</title>
    <link/>
</head>

<body class="sticky-header">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<!-- ScrollUp Start Here -->
<a href="#wrapper" data-type="section-switch" class="scrollup">
    <i class="fas fa-angle-double-up"></i>
</a>
<!-- ScrollUp End Here -->
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper">
    <!-- Add your site or application content here -->
    <!-- Header Area Start Here -->
    <div th:replace="~{site/commons/commons::headerbar(active = 'about.html')}"></div>
    <!-- Header Area End Here -->

    <hr class="m-margin-tb-4">
    <!--关于我-->
    <!-- Inne Page Banner Area Start Here -->
    <section class="blog-wrap-layout13">
        <div class="container">
            <div class="section-heading heading-dark">
                <h3 class="item-heading"><i class="fas fa-info-circle"></i> About Me</a></h3>
            </div>
        </div>
    </section>
    <!-- Inne Page Banner Area End Here -->
    <hr>

    <!-- About Area Start Here -->
    <section class="about-wrap-layout1">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8">
                    <div class="about-box-layout3 text-center">
                        <img th:src="@{img/about/about2.jpg}" alt="about">
                        <div class="m-margin-tb-3 about-box-layout2">
                            <h3> 你好哇~ </h3>
                            <p>欢迎光临我的小站</p>
                            <p>一个简单的个人技术小站，记录编程道路上的问题与经验。</p>
                            <p>Keep blogging, keep progress.</p>
                            <p>email：<span th:text="#{about.email}"></span></p>
                            <ul class="item-social">
                                <li><a href="https://github.com/Scyzl" title="github"><i class="fab fa-github"></i></a>
                                </li>
                                <li><a href="https://blog.csdn.net/Scy_Szl" title="csdn"><i class="fas fa-rss"></i></a>
                                </li>
                                <li><a href="#"><i class="fas fa-cloud"></i></a></li>
                                <li><a href="#"><i class="fab fa-codepen"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-box-layout1 text-center">

                    </div>
                </div>
                <!--右边栏-->
                <div th:replace="~{site/commons/commons::rightbar}"></div>
            </div>
        </div>
    </section>
    <!-- About Area End Here -->

    <!-- Footer Area Start Here -->
    <div id="footer-container">
        <div th:replace="~{site/commons/commons::footerbar}"></div>
    </div>
    <!-- Footer Area End Here -->

</div>

<th:block th:replace="~{site/commons/commons::script}"></th:block>


</body>

</html>
