<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="site/commons/commons::head(~{::title}, ~{::link})">
    <title>Archives</title>
    <link rel="stylesheet" th:href="@{admin/css/components.css}">
</head>
<!-- General CSS Files -->
<!--<link rel="stylesheet" th:href="@{admin/css/app.min.css}">-->
<!-- Template CSS -->
<!--<link rel="stylesheet" th:href="@{admin/css/style.css}">-->

<!-- Custom style CSS -->
<!--  <link rel="stylesheet" href="assets/css/custom.css">-->
<!--<link rel='shortcut icon' type='image/x-icon' th:href='@{admin/img/favicon.ico}' />-->

<body class="sticky-header">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- ScrollUp Start Here 从这里开始滚动-->
<a href="#wrapper" data-type="section-switch" class="scrollup">
    <i class="fas fa-angle-double-up"></i>
</a>
<!-- ScrollUp End Here -->

<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper">
    <!-- Header Area Start Here -->
    <div th:replace="~{site/commons/commons::headerbar(active = 'archives.html')}"></div>
    <!-- Header Area End Here -->

    <hr class="m-margin-tb-4">
    <!--时间轴-->
    <!-- Inne Page Banner Area Start Here -->
    <section class="blog-wrap-layout13">
        <div class="container">
            <div class="section-heading heading-dark">
                <h3 class="item-heading"><i class="fas fa-clock"></i> Archives</a></h3>
            </div>
        </div>
    </section>
    <!-- Inne Page Banner Area End Here -->

    <hr>
    <!-- Blog Area Start Here -->
    <section class="blog-wrap-layout13 m-margin-tb-3">
        <div class="container">
            <!--<div class="row gutters-40">
                &lt;!&ndash;正文区&ndash;&gt;
                <div class="col-xl-9 col-lg-8">
                    &lt;!&ndash;时间轴&ndash;&gt;
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    &lt;!&ndash;页码&ndash;&gt;
                    <div class="pagination-layout1 m-margin-tb-5">
                        <ul>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                </div>
                &lt;!&ndash;右边栏&ndash;&gt;
                <div class="col-xl-3 col-lg-4 sidebar-widget-area sidebar-break-md">
                    <div th:replace="~{site/commons/commons::rbar-popular}"></div>
                    <div th:replace="~{site/commons/commons::rbar-featured}"></div>
                    <div th:replace="~{site/commons/commons::rbar-ad}"></div>
                    <div th:replace="~{site/commons/commons::rbar-subscribe}"></div>
                </div>
            </div>-->
            <section class="col-md-10 m-auto">
                <div class="section-body" th:each="map: ${archiveMap}">
                    <h2 class="section-title text-center" th:text="${map.key}"></h2>
                    <div class="row">
                        <div class="col-12">
                            <div class="activities">
                                <div class="activity" th:each="blog: ${map.value}">
                                    <div class="activity-icon bg-primary text-white">
                                        <i class="fas fa-paper-plane"></i>
                                    </div>
                                    <div class="activity-detail">
                                        <div class="mb-2 text-center">
                                            <i class="fas fa-calendar-alt text-job text-primary"
                                               th:text="| ${#dates.format(blog.updateTime, 'MM-dd')} |"> 2020-10-01</i>
                                        </div>
                                        <span><i class="fas fa-tasks mr-5" style="font-size: medium"
                                                 th:text="| ${blog.type.name} |">  </i></span>
                                        <a th:href="@{/site/blog/{id}(id=${blog.id})}"><span style="font-size: larger"
                                                                                             th:text="${blog.title}"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- Blog Area End Here -->

    <!-- Footer Area Start Here -->
    <div id="footer-container">
        <div th:replace="~{site/commons/commons::footerbar}"></div>
    </div>
    <!-- Footer Area End Here -->

</div>

<th:block th:replace="~{site/commons/commons::script}"></th:block>

</body>

</html>
