<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='Blog | Archives'">

<head th:replace="~{site/commons/commons::head(${title})}"></head>

<body class="sticky-header">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper">
    <!-- Add your site or application content here -->
    <!-- Header Area Start Here -->
    <div th:replace="~{site/commons/commons::headerbar(active = 'archives.html')}"></div>
    <!-- Header Area End Here -->

    <hr class="m-margin-tb-4">
    <!--时间轴-->
    <!-- Inne Page Banner Area Start Here -->
    <section class="blog-wrap-layout13">
        <div class="container">
            <div class="section-heading heading-dark">
                <h3 class="item-heading"><i class="fas fa-clock"></i> Archives</a></h3>
            </div>
        </div>
    </section>
    <!-- Inne Page Banner Area End Here -->

    <hr>
    <!-- Blog Area Start Here -->
    <section class="blog-wrap-layout13 m-margin-tb-3">
        <div class="container">
            <div class="row gutters-40">
                <!--正文区-->
                <div class="col-xl-9 col-lg-8">
                    <!--时间轴-->
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="timeline-small-body">
                            <ul>
                                <li>
                                    <div class="col-xl-1 col-lg-1 bullet pink"></div>
                                    <div class="col-xl-2 col-lg-2 date"><i class="fas fa-calendar-alt"></i> 05-26</div>
                                    <div class="col-xl-9 col-lg-9 desc">
                                        <a href="#"> <i class="fas fa-tag"></i> SpringBoot框架原理分析架原理分析架原理分析</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--页码-->
                    <div class="pagination-layout1 m-margin-tb-5">
                        <ul>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                </div>
                <!--右边栏-->
                <div class="col-xl-3 col-lg-4 sidebar-widget-area sidebar-break-md">
                    <div th:replace="~{site/commons/commons::rbar-popular}"></div>
                    <div th:replace="~{site/commons/commons::rbar-featured}"></div>
                    <div th:replace="~{site/commons/commons::rbar-ad}"></div>
                    <div th:replace="~{site/commons/commons::rbar-subscribe}"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End Here -->

    <!-- Footer Area Start Here -->
    <div th:replace="~{site/commons/commons::footerbar}"></div>
    <!-- Footer Area End Here -->

</div>
<!-- jquery-->
<script src="site/js/jquery-3.3.1.min.js"></script>
<!-- Plugins js -->
<script src="site/js/plugins.js"></script>
<!-- Popper js -->
<script src="site/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="http://cdn.bootstrapmb.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- Owl Carousel js -->
<script src="site/OwlCarousel/owl.carousel.min.js"></script>
<!-- Smooth Scroll js -->
<script src="site/js/jquery.magnific-popup.min.js"></script>
<!-- Meanmenu js -->
<script src="site/js/jquery.meanmenu.min.js"></script>
<!-- Smooth Scroll js -->
<script src="site/js/jquery.smoothscroll.min.js"></script>
<!-- Main js -->
<script src="site/js/main.js"></script>

</body>

</html>
