<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='Blog | Details'">

<head th:replace="~{site/commons/commons::head(tilte)}"></head>

<body class="sticky-header">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<!-- ScrollUp Start Here -->
<a href="#wrapper" data-type="section-switch" class="scrollup">
    <i class="fas fa-angle-double-up"></i>
</a>

<!-- ScrollUp End Here -->
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper">
    <!-- Add your site or application content here -->
    <!-- Header Area Start Here -->
    <div th:replace="~{site/commons/commons::headerbar}"></div>
    <!-- Header Area End Here -->
    <!-- Single Blog Banner Start Here -->
    <section class="single-blog-wrap-layout1">
        <!--顶部大图-->
        <div class="single-blog-banner-layout1 animated swing">
            <div class="banner-img">
                <img src="site/img/blog/blog208.jpg" alt="blog">
            </div>
            <div class="banner-content">
                <div class="container">
                    <ul class="entry-meta meta-color-light2">
                        <li><i class="fas fa-tag"></i>Travel</li>
                        <li><i class="fas fa-calendar-alt"></i>October 19, 2019</li>
                        <li><i class="fas fa-user"></i>BY <a href="#">Mark Willy</a></li>
                        <li><i class="far fa-clock"></i>5 Mins Read</li>
                    </ul>
                    <h2 class="item-title" id="title">when an unknown printer took a gallery of type Work 2019</h2>
                    <ul class="item-social">
                        <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i>SHARE</a></li>
                        <li><a href="#" class="twitter"><i class="fab fa-twitter"></i>SHARE</a></li>
                        <li><a href="#" class="g-plus"><i class="fab fa-google-plus-g"></i>SHARE</a></li>
                        <li><a href="#" class="pinterst"><i class="fab fa-pinterest"></i>PIN IT</a></li>
                        <li><a href="#" class="load-more"><i class="fas fa-plus"></i>MORE</a></li>
                    </ul>
                    <ul class="response-area">
                        <li><a href="#"><i class="far fa-comment"></i>02</a></li>
                        <li><a href="#"><i class="far fa-eye"></i>105</a></li>
                        <li><a href="#"><i class="far fa-heart"></i>225</a></li>
                        <li><a href="#"><i class="fas fa-share"></i>302</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row gutters-50">
                <!--博客正文-->
                <div class="col-xl-9 col-lg-8">
                    <div class="single-blog-box-layout1">
                        <div class="blog-details js-toc-content">
                            <pre><code class="language-css">p { color: red; backgroud-color: blue;}</code></pre>

                            <p>Borem ipsum dolor sit amet, adhuc iriure dissentias est in,
                                est ne diam graece tincidunt. Sit et liber minimuam
                                tsea no doctus fastidii.An molestiae definiebas mel.
                                Quo everti vituperata et, quo cu omnis maiorum aetaea
                                fierentlaboramus eum.Nam at dicant deterruisset. Nam at
                                nulla choro denique, et cum quando definitionem. Sea te
                                nisl splendide, odio timeam an vim. Quas brute aliquam id per,
                                et natum vocent eripuit sea. No mea feugiat ara aeat nusquam
                                ocurreret Quo everti vituperata etquo cu omnis maiorum aetaea. </p>
                            <p>Borem ipsum dolor sit amet, adhuc iriure dissentias est in, est
                                ne diam graece tincidunt. Sit et liber minimum tacimates, sea no
                                doctus fastidii.An molestiae definiebas mel. Quo everti vituperata
                                et, quo cu omnis maiorum.soluta fierentlaboramus eum.Nam at dicant
                                deterruisset.</p>
                            <blockquote>Borem ipsum dolor sit amet, adhuc iriure dissentias est in,
                                est ne diam graece tincidunt. Sit et liber minimum tacimates, sea no docAas
                                mela mine.
                                <span class="qoute-subtitle">STEVEN WILLY</span>
                            </blockquote>
                            <p>Equidem impedit officiis quo te. Illud partem sententiae mel eu, euripidis
                                urbanitas et sit. Mediocrem reprimique an vim, veniam tibique omittantur
                                duo ut, agam graeci in vim. Quot appetere patrioque te mea, animal aliquip
                                te pri. Ad vis animal ceteros percipitur, eos tollit civibus percipitur no.
                                Posse definiebas dissentiunt mel ea, nam ferri utroque invenire an. Ius te
                                iuvaret offendit pertinax, his verear deseruisse ex. Illud elitr eam eu. Id usu
                                putant commune, stet primis expetenda cu vel. Mea ipsum homero apeirian te.
                                Accumsan similique instructior ad pro, te purto dicit qui. Qui ex putent suavitate
                                adolescens, his possim tamquam fuisset.</p>
                            <div class="row gutters-20">
                                <div class="col-sm-6 col-12">
                                    <div class="single-img">
                                        <img src="site/img/blog/blog209.jpg" alt="blog">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="single-img">
                                        <img src="site/img/blog/blog210.jpg" alt="blog">
                                    </div>
                                </div>
                            </div>
                            <p>Equidem impedit officiis quo te. Illud partem sententiae mel eu,
                                euripidis urbanitas et sit. Mediocrem reprimique an vim, veniam
                                tibique omittantur duo ut, agam graeci in vim. Quot appetere patrioque
                                te mea, animal aliquip te pri. Ad vis animal ceteros percipitur,
                                eos tollit civibus percipitur no</p>
                            <div class="more-info">
                                <h2 class="item-title" id="title2">Discover Travel Innovation 2019</h2>
                                <p>Aeuidem impedit officiis quo te. Illud partem sententiae mel eu,
                                    euripidis urbanitas et sit. Mediocrem reprimique an vim, veniam tibique
                                    omittantur duo ut, agam graeci in vim. Quot appetere patrioque te mea,
                                    animal aliquip te pri. Ad vis animal ceteros percipitur, eos tollit civibus
                                    percipitur.</p>
                                <ol class="info-list">
                                    <li>The feedback provided by a system is not very informative. It’s not clear
                                        how a system
                                        request or what exactly happens with the information.
                                    </li>
                                    <li>The feedback provided by a system is not very informative. It’s not clear
                                        how a system
                                        request or what exactly happens with the information.
                                    </li>
                                    <li>The feedback provided by a system is not very informative. It’s not clear
                                        how a system
                                        request or what exactly happens with the information.
                                    </li>
                                </ol>
                                <p>Muidem impedit officiis quo te. Illud partem sententiae mel eu, euripidis
                                    urbanitas et sit.
                                    Mediocrem reprimique an vim, veniam tibique omittantur duo ut, agam graeci in
                                    vim.</p>
                            </div>
                            <div class="single-slider">
                                <div class="rc-carousel nav-control-layout9" data-loop="true" data-items="30"
                                     data-margin="20" data-autoplay="false" data-autoplay-timeout="5000"
                                     data-smart-speed="700" data-dots="false" data-nav="true" data-nav-speed="false"
                                     data-r-x-small="1" data-r-x-small-nav="true" data-r-x-small-dots="false"
                                     data-r-x-medium="1" data-r-x-medium-nav="true" data-r-x-medium-dots="false"
                                     data-r-small="1" data-r-small-nav="true" data-r-small-dots="false"
                                     data-r-medium="1" data-r-medium-nav="true" data-r-medium-dots="false"
                                     data-r-large="1" data-r-large-nav="true" data-r-large-dots="false"
                                     data-r-extra-large="1" data-r-extra-large-nav="true"
                                     data-r-extra-large-dots="false">
                                    <div class="single-slider-box">
                                        <div class="item-img">
                                            <img src="site/img/blog/blog211.jpg" alt="slider">
                                        </div>
                                    </div>
                                    <div class="single-slider-box">
                                        <div class="item-img">
                                            <img src="site/img/blog/blog211.jpg" alt="slider">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more-info">
                                <h2 class="item-title" id="t3">Discover Travel Innovation 2019</h2>
                                <p>Equidem impedit officiis quo te. Illud partem sententiae mel eu,
                                    euripidis urbanitas et sit. Mediocrem reprimique an vim, veniam
                                    tibique omittantur duo ut, agam graeci in vim. Quot appetere
                                    patrioque te mea, animal aliquip te pri. Ad vis animal ceteros
                                    percipitur, eos tollit civibus percipitur noLorem ipsum proin
                                    gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
                                    lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                                    sem nibh id elit.Duis sed odio sit amet nibh vulputate cursus a
                                    sit amet mauris.</p>
                            </div>
                        </div>
                        <div class="blog-entry-meta">
                            <ul>
                                <li class="item-tag"><i class="fas fa-bookmark"></i>
                                    <a href="#">explore,</a>
                                    <a href="#">travel,</a>
                                    <a href="#">vacation,</a>
                                </li>
                                <li class="item-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="#"><i class="fab fa-pinterest"></i></a>
                                </li>
                                <li class="item-respons"><i class="fas fa-heart"></i>1,230</li>
                            </ul>
                        </div>

                        <button class="btn btn-outline-primary" type="button"
                                style="float: none;display: block;margin-right:auto;margin-left: auto; margin-bottom: 50px;border-radius: 80%;font-size: large;padding: 10px 10px 10px 10px"
                                data-toggle="collapse" data-target="#appreciate" aria-expanded="false"
                                aria-controls="appreciate">
                            赞赏
                        </button>
                        <div class="collapse" id="appreciate">
                            <div class="row gutters-20">
                                <div class="col-sm-3 col-12">

                                </div>
                                <div class="col-sm-3 col-12">
                                    <img th:src="@{site/img/blog/alipay.jpg}" alt="支付宝" style="width: 120px;">
                                    <div class="m-font-pay" style="padding-right: 30%">支付宝</div>
                                </div>
                                <div class="col-sm-3 col-12">
                                    <img src="site/img/blog/wechat.jpg" alt="微信" style="width: 120px;">
                                    <div class="m-font-pay" style="padding-right: 30%">微信</div>
                                </div>
                                <div class="col-sm-3 col-12">

                                </div>
                            </div>

                        </div>

                        <div class="blog-author">
                            <div class="media media-none--xs">
                                <img src="site/img/blog/blog212.jpg" alt="Author" class="media-img-auto">
                                <div class="media-body">
                                    <h4 class="item-title" id="author">Lora Zaman</h4>
                                    <div class="item-subtitle">Author</div>
                                    <p>Dorem ipsum dolor sit amet, consectetuer adipiscing
                                        elit,sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                                    <ul class="item-social">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="related-item">
                            <div class="section-heading-4 heading-dark">
                                <h3 id="post" class="item-heading">YOU MAY ALSO LIKE</h3>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-12">
                                    <div class="blog-box-layout1 text-left">
                                        <div class="item-img">
                                            <a href="single-blog.html"><img src="site/img/blog/blog213.jpg" alt="blog"></a>
                                        </div>
                                        <div class="item-content">
                                            <ul class="entry-meta meta-color-dark">
                                                <li><i class="fas fa-tag"></i>Fashion</li>
                                                <li><i class="fas fa-calendar-alt"></i>October 19, 2019</li>
                                            </ul>
                                            <h5 class="item-title"><a href="single-blog.html">How an Island Formsn
                                                River
                                                And Stones</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-12">
                                    <div class="blog-box-layout1 text-left">
                                        <div class="item-img">
                                            <a href="single-blog.html"><img src="site/img/blog/blog214.jpg" alt="blog"></a>
                                        </div>
                                        <div class="item-content">
                                            <ul class="entry-meta meta-color-dark">
                                                <li><i class="fas fa-tag"></i>Fashion</li>
                                                <li><i class="fas fa-calendar-alt"></i>October 19, 2019</li>
                                            </ul>
                                            <h5 class="item-title"><a href="single-blog.html">How an Island Formsn
                                                River
                                                And Stones</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-12">
                                    <div class="blog-box-layout1 text-left">
                                        <div class="item-img">
                                            <a href="single-blog.html"><img src="site/img/blog/blog215.jpg" alt="blog"></a>
                                        </div>
                                        <div class="item-content">
                                            <ul class="entry-meta meta-color-dark">
                                                <li><i class="fas fa-tag"></i>Fashion</li>
                                                <li><i class="fas fa-calendar-alt"></i>October 19, 2019</li>
                                            </ul>
                                            <h5 class="item-title"><a href="single-blog.html">How an Island Formsn
                                                River
                                                And Stones</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-comment" id="comments">
                            <div class="section-heading-4 heading-dark">
                                <h3 class="item-heading">02 COMMENTS</h3>
                            </div>
                            <div class="media media-none--xs">
                                <img src="site/img/blog/blog216.jpg" alt="Blog Comments"
                                     class="img-fluid media-img-auto">
                                <div class="media-body">
                                    <h4 class="item-title">Jack Sparrow</h4>
                                    <div class="item-subtitle">2 Mins Ago</div>
                                    <p>Bmmy text of the printing and typesetting industryorem Ipsum
                                        has been the industry's standard dummy text ever since the</p>
                                    <a href="#" class="item-btn">Reply</a>
                                </div>
                            </div>
                            <div class="media media-none--xs">
                                <img src="site/img/blog/blog217.jpg" alt="Blog Comments"
                                     class="img-fluid media-img-auto">
                                <div class="media-body">
                                    <h4 class="item-title">Dakcon Nitiya</h4>
                                    <div class="item-subtitle">2 Mins Ago</div>
                                    <p>Bmmy text of the printing and typesetting industryorem Ipsum has
                                        been the industry's standard dummy text ever since the</p>
                                    <a href="#" class="item-btn">Reply</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-form">
                            <div class="section-heading-4 heading-dark">
                                <h3 class="item-heading">WRITE A COMMENT</h3>
                            </div>
                            <form class="contact-form-box">
                                <div class="row gutters-15">
                                    <div class="col-md-4 form-group">
                                        <input type="text" placeholder="Name*" class="form-control" name="first_name"
                                               data-error="Name field is required" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <input type="email" placeholder="E-mail*" class="form-control" name="email"
                                               data-error="E-mail field is required" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <input type="text" placeholder="Website*" class="form-control" name="website"
                                               data-error="website field is required" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-12 form-group">
                                            <textarea placeholder="Write your comments ..."
                                                      class="textarea form-control"
                                                      name="message" rows="8" cols="20"
                                                      data-error="Message field is required"
                                                      required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-12 form-group">
                                        <button class="item-btn">POST COMMENT</button>
                                    </div>
                                </div>
                                <div class="form-response"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--右边栏-->
                <div th:replace="~{site/commons/commons::rightbar}"></div>
            </div>
        </div>
    </section>
    <!-- Single Blog Banner End Here -->

    <div class="btn-group-vertical" style="position: fixed;right: 1%;bottom: 10%;z-index: 10">
        <button type="button" id="cate-btn" class="btn btn-primary"
                style="font-size: large;padding: 10px 10px 10px 10px" data-toggle="collapse" data-target="#cate"
                aria-expanded="false" aria-controls="collapse">目录
        </button>
        <a href="#comments" class="btn btn-primary" style="font-size: large;padding: 10px 10px 10px 10px">评论</a>
        <button type="button" id="wechat" class="btn btn-success" style="font-size: large;padding: 10px 10px 10px 10px"
                data-toggle="popover" data-placement="right"><i class="fas fa-comments"></i></button>
    </div>

    <div id="cate-con" style="position: fixed;right: 1%;bottom: 30%;z-index: 10">
        <div id="cate" class="js-toc">

        </div>
    </div>

    <div id="qrcode"></div>


    <!-- Footer Area Start Here -->
    <div th:replace="~{site/commons/commons::footerbar}"></div>
    <!-- Footer Area End Here -->

</div>
<!-- jquery-->
<script src="site/js/jquery-3.3.1.min.js"></script>
<!-- Plugins js -->
<script src="site/js/plugins.js"></script>
<!-- Popper js -->
<script src="site/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="http://cdn.bootstrapmb.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- Owl Carousel js -->
<script src="site/OwlCarousel/owl.carousel.min.js"></script>
<!-- Meanmenu js -->
<script src="site/js/jquery.meanmenu.min.js"></script>
<!-- Smooth Scroll js -->
<script src="site/js/jquery.smoothscroll.min.js"></script>
<script src="site/lib/prism/prism.js"></script>
<script src="site/lib/tocbot/tocbot.min.js"></script>
<script src="site/lib/qrcode/qrcode.min.js"></script>
<!-- Main js -->
<script src="site/js/main.js"></script>

<script type="text/javascript">

    // 生成目录
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
        // For headings inside relative or absolute positioned containers within content.
        hasInnerContainers: true,
    });

    // 生成二维码
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: "http://jindo.dev.naver.com/collie",
        render: "table",
        width: 120,
        height: 120,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.M
    });

    console.log($('#qrcode').children("img")[0]);

    // 弹出微信二维码
    $('#wechat').popover({
        trigger: 'hover', //鼠标以上时触发弹出提示框
        html: true, //开启html 为true的话，data-content里就能放html代码了
        // content: '<img src="site/img/blog/wechat.jpg" alt="微信" style="width: 120px;">'
        content: $('#qrcode').children("img")[0]
    });
</script>

</body>

</html>
