<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="site/commons/commons::head(~{::title}, ~{::link})">
    <title>Contact</title>
    <link/>
</head>

<body class="sticky-header">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- ScrollUp Start Here 从这里开始滚动-->
<a href="#wrapper" data-type="section-switch" class="scrollup">
    <i class="fas fa-angle-double-up"></i>
</a>
<!-- ScrollUp End Here -->

<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper">
    <!-- Add your site or application content here -->
    <!-- Header Area Start Here -->
    <div th:replace="~{site/commons/commons::headerbar(active = 'contact.html')}"></div>
    <!-- Header Area End Here -->

    <!-- Inne Page Banner Area Start Here -->
    <hr class="m-margin-tb-4">
    <!--联系我-->
    <section class="blog-wrap-layout13">
        <div class="container">
            <div class="section-heading heading-dark">
                <h3 class="item-heading"><i class="fas fa-phone"></i> Contact Me</a></h3>
            </div>
        </div>
    </section>
    <hr>
    <!-- Inne Page Banner Area End Here -->

    <!-- Contact Area Start Here -->
    <section class="contact-wrap-layout1">
        <div class="container">
            <div class="row gutters-50">
                <div class="col-lg-8">
                    <div class="contact-box-layout1">
                        <div class="contact-way">
                            <div class="contact-list">
                                <h3 class="item-title">Office Address</h3>
                                <p>Worem Ipsum Nam nec tellus a odio tincidunt auctor.
                                    Proin gravida nibh vel velit auctor aliquet. Bendum auctor,
                                    nisi elit conseq aeuat ipsum, nec sagittis sem nibhety.</p>
                            </div>
                            <div class="contact-list">
                                <h3 class="item-title">Phone</h3>
                                <p>+123 88 9999 00, +123 88 9999 00, +123 88 9999 00</p>
                            </div>
                            <div class="contact-list">
                                <h3 class="item-title">Mail Us</h3>
                                <p>info@gmail.com, info@gmail.com, info@gmail.com,</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                    <div class="widget">
                        <div class="widget-newsletter-subscribe-dark">
                            <h3>GET LATEST UPDATES</h3>
                            <p>NEWSLETTER SUBSCRIBE</p>
                            <form class="newsletter-subscribe-form">
                                <div class="form-group">
                                    <input type="text" placeholder="your e-mail address" class="form-control"
                                           name="email"
                                           data-error="E-mail field is required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group mb-none">
                                    <button type="submit" class="item-btn">SUBSCRIBE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="section-heading heading-dark">
                            <h3 class="item-heading">FOLLOW ME ON</h3>
                        </div>
                        <div class="widget-follow-us-2">
                            <ul>
                                <li class="single-item"><a href="#"><i class="fab fa-facebook-f"></i>LIKE ME ON</a></li>
                                <li class="single-item"><a href="#"><i class="fab fa-twitter"></i>FOLLOWE ME</a></li>
                                <li class="single-item"><a href="#"><i class="fab fa-instagram"></i>FOLLOW ME</a></li>
                                <li class="single-item"><a href="#"><i class="fab fa-linkedin-in"></i>FOLLOW ME</a></li>
                                <li class="single-item"><a href="#"><i class="fab fa-pinterest-p"></i>FOLLOW ME</a></li>
                                <li class="single-item"><a href="#"><i class="fab fa-youtube"></i>SUBSCRIBE</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="widget-ad">
                            <a href="#"><img src="site/img/figure/figure5.jpg" alt="Ad" class="img-fluid"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Area End Here -->
    <!-- Footer Area Start Here -->
    <div id="footer-container">
        <div th:replace="~{site/commons/commons::footerbar}"></div>
    </div>
    <!-- Footer Area End Here -->

</div>

<th:block th:replace="~{site/commons/commons::script}"></th:block>

</body>

</html>
