<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="site/commons/commons::head(~{::title}, ~{::link})">
    <title>Home</title>
    <link/>
</head>

<body class="bg-pearl box-layout sticky-header">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<!-- ScrollUp Start Here 从这里开始滚动-->
<a href="#wrapper" data-type="section-switch" class="scrollup">
    <i class="fas fa-angle-double-up"></i>
</a>
<!-- ScrollUp End Here -->
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->

<div id="wrapper" class="wrapper">
    <!-- Add your site or application content here -->
    <!--头部 Header Area Start Here -->
    <div th:replace="~{site/commons/commons::headerbar(active = 'index.html')}"></div>
    <!--头部 Header Area End Here -->

    <!--正文区 start-->
    <div class="box-layout-child bg-white" style="border-top: 1px solid #f0ebeb">
        <!-- Blog Area Start Here -->
        <section class="blog-wrap-layout13" style="padding-top: 50px">
            <div class="container">
                <div class="row gutters-40">
                    <!--正文区-->
                    <div class="col-xl-9 col-lg-8">
                        <div class="blog-box-layout11" th:each="blog: ${page.content}"
                             style="border-bottom: 1px solid #6164ef">
                            <div class="item-img">
                                <a th:href="@{/site/blog/{id}(id=${blog.id})}"><img th:src="@{${blog.topPicture}}"
                                                                                    style="width: 100%;height: 180px"
                                                                                    alt="blog"></a>
                            </div>
                            <div class="item-content">
                                <ul class="entry-meta meta-color-dark">
                                    <li><i class="fas fa-calendar-alt" style="font-size: medium"
                                           th:text="| ${#dates.format(blog.updateTime, 'yyyy-MM-dd')} |"> </i></li>
                                    <li><i class="fas fa-tasks" style="font-size: medium"
                                           th:text="| ${blog.type.name} |"> </i></li>
                                </ul>
                                <a th:href="@{/site/blog/{id}(id=${blog.id})}">
                                    <h3 class="item-title" th:text="${blog.title}"></h3>
                                    <p th:text="|${blog.description}......|"></p>
                                </a>
                                <ul class="response-area">
                                    <li class="item-tag"><i class="fas fa-tag"></i>
                                        <a th:href="@{/site/tags/{id}(id=${tag.id})}" th:each="tag: ${blog.tags}"
                                           th:text="| ${tag.name}, |"></a>
                                    </li>
                                    <li><a th:href="@{/site/about}"><img th:src="@{${blog.author.avatar}}"
                                                                         style="width: 30px;height: 30px;"
                                                                         class="m-auth-img"></a>
                                        <a th:href="@{/site/about}" style="font-size: medium"
                                           th:text="|    ${blog.author.username} |"> Mark Willy </a></li>
                                    <li><i class="fas fa-eye" style="font-size: medium" th:text="| ${blog.views} |">
                                        15 </i></li>
                                    <li><a th:href="@{/site/blog/{id}(id=${blog.id})}"><i class="far fa-comment"
                                                                                          style="font-size: medium"
                                                                                          th:text="| ${#arrays.length(blog.comments)} |"> </i>
                                    </a></li>
                                </ul>
                                <a th:href="@{/site/blog/{id}(id=${blog.id})}" class="item-btn">Read more<i
                                        class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <!--分页-->
                        <div class="pagination-layout1 m-margin-tb-3">
                            <ul th:if="${page.numberOfElements>0}">
                                <li><a th:class="${page.first?'btn disabled': ''}"
                                       th:href="@{/site/(page=${page.number}-1)}">
                                    <i class="fas fa-chevron-left"></i></a>
                                </li>
                                <li th:each="i:${#numbers.sequence(1,page.totalPages)}"
                                    th:class="${i==page.number+1?'active': ''}">
                                    <a th:href="@{/site/(page=${page.number}+${i}-${page.number}-1)}"
                                       th:class="${i==page.number+1?'btn active disabled': ''}"
                                       th:text="${i}">1</a>
                                </li>
                                <li><a th:class="${page.last?'btn disabled': ''}"
                                       th:href="@{/site/(page=${page.number}+1)}">
                                    <i class="fas fa-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--右边栏-->
                    <div th:replace="~{site/commons/commons::rightbar}"></div>
                </div>
            </div>
        </section>
        <!-- Blog Area End Here -->

    </div>
    <!--正文区 end-->

    <!--底部 Footer Area Start Here -->
    <div id="footer-container">
        <div th:replace="~{site/commons/commons::footerbar}"></div>
    </div>
    <!-- Footer Area End Here -->

    <!--    非画布菜单（移动端） Offcanvas Menu Start-->
    <div th:replace="~{site/commons/commons::offcanvas-menu}"></div>
    <!--     Offcanvas Menu End-->

</div>


<th:block th:replace="~{site/commons/commons::script}"></th:block>

</body>

</html>
