<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='Blog | Tags'">

<head th:replace="~{site/commons/commons::head(${title})}"></head>

<body class="sticky-header">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper">
    <!-- Add your site or application content here -->
    <!-- Header Area Start Here -->
    <div th:replace="~{site/commons/commons::headerbar(active = 'tags.html')}"></div>
    <!-- Header Area End Here -->

    <hr class="m-margin-tb-4">
    <!--类别汇总-->
    <!-- Inne Page Banner Area Start Here -->
    <section class="blog-wrap-layout13">
        <div class="container">
            <div class="section-heading heading-dark">
                <h3 class="item-heading"><i class="fas fa-tags"></i> Tags</a></h3>
            </div>
            <div class="row">
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li class="m-active-4">
                                    <a href="#"> <i class="fas fa-tag"></i> Beauty
                                        <span>(35)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fas fa-tag"></i> Technology
                                        <span>(22)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Inne Page Banner Area End Here -->
    <hr>

    <!-- Blog Area Start Here -->
    <section class="blog-wrap-layout13 m-margin-tb-3">
        <div class="container">
            <div class="row gutters-40">
                <!--正文区-->
                <div class="col-xl-9 col-lg-8">
                    <div class="blog-box-layout11">
                        <div class="item-img">
                            <a href="single-blog.html"><img src="site/img/blog/blog93.jpg" alt="blog"></a>
                        </div>
                        <div class="item-content">
                            <ul class="entry-meta meta-color-dark">
                                <li><i class="fas fa-tag"></i>Stelite</li>
                                <li><i class="fas fa-calendar-alt"></i>Jan 19, 2019</li>
                                <li><i class="far fa-clock"></i>5 Mins Read</li>
                            </ul>
                            <h3 class="item-title"><a href="single-blog.html">Pebble time steel is on track to ship in
                                January</a></h3>
                            <p>Phasellus lorem ligula, semper vehicula dolor vitae eleifen deary mattis sem.
                                In hacBloggin GuideSed ut perspiciatis.</p>
                            <ul class="response-area">
                                <li><a href="#"><img src="https://picsum.photos/id/1005/30" alt="" class="m-auth-img">
                                    Mark Willy </a></li>
                                <li><a href="#"><i class="far fa-heart"></i>15</a></li>
                                <li><a href="#"><i class="far fa-comment"></i>02</a></li>
                            </ul>
                            <a href="single-blog.html" class="item-btn">READ MORE<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-box-layout11">
                        <div class="item-img">
                            <a href="single-blog.html"><img src="site/img/blog/blog93.jpg" alt="blog"></a>
                        </div>
                        <div class="item-content">
                            <ul class="entry-meta meta-color-dark">
                                <li><i class="fas fa-tag"></i>Stelite</li>
                                <li><i class="fas fa-calendar-alt"></i>Jan 19, 2019</li>
                                <li><i class="far fa-clock"></i>5 Mins Read</li>
                            </ul>
                            <h3 class="item-title"><a href="single-blog.html">Pebble time steel is on track to ship in
                                January</a></h3>
                            <p>Phasellus lorem ligula, semper vehicula dolor vitae eleifen deary mattis sem.
                                In hacBloggin GuideSed ut perspiciatis.</p>
                            <ul class="response-area">
                                <li><a href="#"><img src="https://picsum.photos/id/1005/30" alt="" class="m-auth-img">
                                    Mark Willy </a></li>
                                <li><a href="#"><i class="far fa-heart"></i>15</a></li>
                                <li><a href="#"><i class="far fa-comment"></i>02</a></li>
                            </ul>
                            <a href="single-blog.html" class="item-btn">READ MORE<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-box-layout11">
                        <div class="item-img">
                            <a href="single-blog.html"><img src="site/img/blog/blog94.jpg" alt="blog"></a>
                        </div>
                        <div class="item-content">
                            <ul class="entry-meta meta-color-dark">
                                <li><i class="fas fa-tag"></i>Software</li>
                                <li><i class="fas fa-calendar-alt"></i>Jan 19, 2019</li>
                                <li><i class="far fa-clock"></i>5 Mins Read</li>
                            </ul>
                            <h3 class="item-title"><a href="single-blog.html">Of course Uber is working on a flying car
                                project</a></h3>
                            <p>Phasellus lorem ligula, semper vehicula dolor vitae eleifen deary mattis sem.
                                In hacBloggin GuideSed ut perspiciatis.</p>
                            <ul class="response-area">
                                <li><a href="#"><i class="far fa-heart"></i>15</a></li>
                                <li><a href="#"><i class="far fa-comment"></i>02</a></li>
                            </ul>
                            <a href="single-blog.html" class="item-btn">READ MORE<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-box-layout11">
                        <div class="item-img">
                            <a href="single-blog.html"><img src="site/img/blog/blog95.jpg" alt="blog"></a>
                        </div>
                        <div class="item-content">
                            <ul class="entry-meta meta-color-dark">
                                <li><i class="fas fa-tag"></i>Camera</li>
                                <li><i class="fas fa-calendar-alt"></i>Jan 19, 2019</li>
                                <li><i class="far fa-clock"></i>5 Mins Read</li>
                            </ul>
                            <h3 class="item-title"><a href="single-blog.html">The best action camera you can buy</a>
                            </h3>
                            <p>Phasellus lorem ligula, semper vehicula dolor vitae eleifen deary mattis sem.
                                In hacBloggin GuideSed ut perspiciatis.</p>
                            <ul class="response-area">
                                <li><a href="#"><i class="far fa-heart"></i>15</a></li>
                                <li><a href="#"><i class="far fa-comment"></i>02</a></li>
                            </ul>
                            <a href="single-blog.html" class="item-btn">READ MORE<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-box-layout11">
                        <div class="item-img">
                            <a href="single-blog.html"><img src="site/img/blog/blog96.jpg" alt="blog"></a>
                        </div>
                        <div class="item-content">
                            <ul class="entry-meta meta-color-dark">
                                <li><i class="fas fa-tag"></i>Server</li>
                                <li><i class="fas fa-calendar-alt"></i>Jan 19, 2019</li>
                                <li><i class="far fa-clock"></i>5 Mins Read</li>
                            </ul>
                            <h3 class="item-title"><a href="single-blog.html">Pay for the power,not for the design</a>
                            </h3>
                            <p>Phasellus lorem ligula, semper vehicula dolor vitae eleifen deary mattis sem.
                                In hacBloggin GuideSed ut perspiciatis.</p>
                            <ul class="response-area">
                                <li><a href="#"><i class="far fa-heart"></i>15</a></li>
                                <li><a href="#"><i class="far fa-comment"></i>02</a></li>
                            </ul>
                            <a href="single-blog.html" class="item-btn">READ MORE<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-box-layout11">
                        <div class="item-img">
                            <a href="single-blog.html"><img src="site/img/blog/blog97.jpg" alt="blog"></a>
                        </div>
                        <div class="item-content">
                            <ul class="entry-meta meta-color-dark">
                                <li><i class="fas fa-tag"></i>Technology</li>
                                <li><i class="fas fa-calendar-alt"></i>Jan 19, 2019</li>
                                <li><i class="far fa-clock"></i>5 Mins Read</li>
                            </ul>
                            <h3 class="item-title"><a href="single-blog.html">Feces could be the fuel of the future,
                                scientists say</a></h3>
                            <p>Phasellus lorem ligula, semper vehicula dolor vitae eleifen deary mattis sem.
                                In hacBloggin GuideSed ut perspiciatis.</p>
                            <ul class="response-area">
                                <li><a href="#"><i class="far fa-heart"></i>15</a></li>
                                <li><a href="#"><i class="far fa-comment"></i>02</a></li>
                            </ul>
                            <a href="single-blog.html" class="item-btn">READ MORE<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="blog-box-layout11">
                        <div class="item-img">
                            <a href="single-blog.html"><img src="site/img/blog/blog98.jpg" alt="blog"></a>
                        </div>
                        <div class="item-content">
                            <ul class="entry-meta meta-color-dark">
                                <li><i class="fas fa-tag"></i>It</li>
                                <li><i class="fas fa-calendar-alt"></i>Jan 19, 2019</li>
                                <li><i class="far fa-clock"></i>5 Mins Read</li>
                            </ul>
                            <h3 class="item-title"><a href="single-blog.html">10 Bridal Bouquets You’ll Fall Inner Love
                                With</a></h3>
                            <p>Phasellus lorem ligula, semper vehicula dolor vitae eleifen deary mattis sem.
                                In hacBloggin GuideSed ut perspiciatis.</p>
                            <ul class="response-area">
                                <li><a href="#"><i class="far fa-heart"></i>15</a></li>
                                <li><a href="#"><i class="far fa-comment"></i>02</a></li>
                            </ul>
                            <a href="single-blog.html" class="item-btn">READ MORE<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="pagination-layout1">
                        <ul>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                </div>
                <!--右边栏-->
                <div class="col-xl-3 col-lg-4 sidebar-widget-area sidebar-break-md">
                    <div th:replace="~{site/commons/commons::rbar-popular}"></div>
                    <div th:replace="~{site/commons/commons::rbar-featured}"></div>
                    <div th:replace="~{site/commons/commons::rbar-ad}"></div>
                    <div th:replace="~{site/commons/commons::rbar-subscribe}"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End Here -->

    <!-- Footer Area Start Here -->
    <div th:replace="~{site/commons/commons::footerbar}"></div>
    <!-- Footer Area End Here -->

</div>
<!-- jquery-->
<script src="site/js/jquery-3.3.1.min.js"></script>
<!-- Plugins js -->
<script src="site/js/plugins.js"></script>
<!-- Popper js -->
<script src="site/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="http://cdn.bootstrapmb.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- Owl Carousel js -->
<script src="site/OwlCarousel/owl.carousel.min.js"></script>
<!-- Smooth Scroll js -->
<script src="site/js/jquery.magnific-popup.min.js"></script>
<!-- Meanmenu js -->
<script src="site/js/jquery.meanmenu.min.js"></script>
<!-- Smooth Scroll js -->
<script src="site/js/jquery.smoothscroll.min.js"></script>
<!-- Main js -->
<script src="site/js/main.js"></script>

</body>

</html>
