<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="site/commons/commons::head(~{::title}, ~{::link})">
    <title>Tags</title>
    <link/>
</head>

<body class="sticky-header">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- ScrollUp Start Here 从这里开始滚动-->
<a href="#wrapper" data-type="section-switch" class="scrollup">
    <i class="fas fa-angle-double-up"></i>
</a>
<!-- ScrollUp End Here -->

<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper">
    <!-- Header Area Start Here -->
    <div th:replace="~{site/commons/commons::headerbar(active = 'tags.html')}"></div>
    <!-- Header Area End Here -->

    <hr class="m-margin-tb-4">
    <!--类别汇总-->
    <!-- Inne Page Banner Area Start Here -->
    <section class="blog-wrap-layout13">
        <div class="container">
            <div class="section-heading heading-dark">
                <h3 class="item-heading"><i class="fas fa-tags"></i> Tags</a></h3>
            </div>
            <div class="row">
                <div class="col-xl-4 col-sm-6 col-12 m-margin-tb-2" th:each="tag: ${tags}">
                    <!--类别-->
                    <div class="widget">
                        <div class="widget-categories">
                            <ul>
                                <li th:class="${tag.id == activeTagId}?'m-active-4': ''">
                                    <a th:href="@{/site/tags/{id}(id=${tag.id})}"> <i class="fas fa-tag"
                                                                                      th:text="| ${tag.name} |"> </i>
                                        <span th:text="| (${tag.blogs.size()}) |"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Inne Page Banner Area End Here -->
    <hr>

    <!-- Blog Area Start Here -->
    <section class="blog-wrap-layout13 m-margin-tb-3">
        <div class="container">
            <div class="row gutters-40">
                <!--正文区-->
                <div class="col-xl-12 col-lg-12">
                    <div class="blog-box-layout11" th:each="blog: ${page.content}"
                         style="border-bottom: 1px solid #6164ef">
                        <div class="item-img">
                            <a th:href="@{/site/blog/{id}(id=${blog.id})}"><img th:src="@{${blog.topPicture}}"
                                                                                style="width: 400px;height: 200px"
                                                                                alt="blog"></a>
                        </div>
                        <div class="item-content">
                            <ul class="entry-meta meta-color-dark">
                                <li><i class="fas fa-calendar-alt" style="font-size: medium"
                                       th:text="| ${#dates.format(blog.updateTime, 'yyyy-MM-dd')} |"> </i></li>
                                <!--                                    <i class="fas fa-tag"> <span th:text="${blog.tags[0].name}">Stelite</span> </i>-->
                                <li><i class="fas fa-tasks" style="font-size: medium"
                                       th:text="| ${blog.type.name} |"> </i></li>
                            </ul>
                            <a th:href="@{/site/blog/{id}(id=${blog.id})}">
                                <h3 class="item-title" th:text="${blog.title}"></h3>
                                <p th:text="|${blog.description}......|"></p>
                            </a>
                            <ul class="response-area">
                                <li class="item-tag"><i class="fas fa-tag"></i>
                                    <a th:href="@{/site/tags/{id}(id=${tag.id})}" th:each="tag: ${blog.tags}"
                                       th:text="| ${tag.name}, |"></a>
                                </li>
                                <li><a th:href="@{/site/about}"><img th:src="@{${blog.author.avatar}}"
                                                                     style="width: 30px;height: 30px;"
                                                                     class="m-auth-img"></a>
                                    <a th:href="@{/site/about}" style="font-size: medium"
                                       th:text="|    ${blog.author.username} |"> Mark Willy </a></li>
                                <li><i class="fas fa-eye" style="font-size: medium" th:text="| ${blog.views} |"> 15 </i>
                                </li>
                                <li><a th:href="@{/site/blog/{id}(id=${blog.id})}"><i class="far fa-comment"
                                                                                      style="font-size: medium"
                                                                                      th:text="| ${#arrays.length(blog.comments)} |"> </i>
                                </a></li>
                            </ul>
                            <a th:href="@{/site/blog/{id}(id=${blog.id})}" class="item-btn">Read more<i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <!--分页-->
                    <div class="pagination-layout1 m-margin-tb-3">
                        <ul th:if="${page.numberOfElements>0}">
                            <li><a th:class="${page.first?'btn disabled': ''}"
                                   th:href="@{/site/tags/{id}(id=${activeTagId}, page=${page.number}-1)}">
                                <i class="fas fa-chevron-left"></i></a>
                            </li>
                            <li th:each="i:${#numbers.sequence(1,page.totalPages)}"
                                th:class="${i==page.number+1?'active': ''}">
                                <a th:href="@{/site/tags/{id}(id=${activeTagId}, page=${page.number}+${i}-${page.number}-1)}"
                                   th:text="${i}" th:class="${i==page.number+1?'btn active disabled': ''}">1</a>
                            </li>
                            <li><a th:class="${page.last?'btn disabled': ''}"
                                   th:href="@{/site/tags/{id}(id=${activeTagId}, page=${page.number}+1)}">
                                <i class="fas fa-chevron-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End Here -->

    <!-- Footer Area Start Here -->
    <div id="footer-container">
        <div th:replace="~{site/commons/commons::footerbar}"></div>
    </div>
    <!-- Footer Area End Here -->

</div>

<th:block th:replace="~{site/commons/commons::script}"></th:block>

</body>

</html>
