<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title = 'Home'">

<head th:replace="~{admin/commons/commons::admin-head(${title})}"></head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <!--顶部-->
        <div class="navbar-bg"></div>
        <nav th:replace="~{admin/commons/commons::admin-headerbar}"></nav>
        <!--侧边栏-->
        <div th:replace="~{admin/commons/commons::admin-sidebar(active='home')}"></div>
        <!-- Main Content -->
        <div class="main-content">
            <!--正文-->
            <section class="section">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title m-b-0">Home</h4>
                    </li>
                </ul>
                <!--顶部数据展示卡片-->
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-statistic-4">
                                <div class="info-box7-block">
                                    <h6 class="m-b-20 text-right">发布量</h6>
                                    <h4 class="text-right"><i
                                            class="fas fa-paper-plane pull-left bg-indigo c-icon"></i>
                                        <span th:text="${blogNum}">7.12K</span>
                                    </h4>
                                    <!--<p class="mb-0 mt-3 text-muted"><i
                                            class="fas fa-arrow-circle-up col-green m-r-5"></i><span
                                            class="text-success font-weight-bold">23%</span> then previous month</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-statistic-4">
                                <div class="info-box7-block">
                                    <h6 class="m-b-20 text-right">访问量</h6>
                                    <h4 class="text-right"><i class="fas fa-book-reader pull-left bg-cyan c-icon"></i>
                                        <span th:text="${viewNum}">22.3K</span>
                                    </h4>
                                    <!--<p class="mb-0 mt-3 text-muted"><i class="fas fa-arrow-circle-up col-red m-r-5"></i><span
                                            class="col-red font-weight-bold">3%</span> then previous month</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-statistic-4">
                                <div class="info-box7-block">
                                    <h6 class="m-b-20 text-right">评论数</h6>
                                    <h4 class="text-right"><i
                                            class="fas fa-comments pull-left bg-deep-orange c-icon"></i><span
                                            th:text="${commentNum}">725</span>
                                    </h4>
                                    <!--
                                                                        <p class="mb-0 mt-3 text-muted"><i
                                                                                class="fas fa-arrow-circle-up col-green m-r-5"></i><span
                                                                                class="text-success font-weight-bold">21%</span> then previous month</p>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-statistic-4">
                                <div class="info-box7-block">
                                    <h6 class="m-b-20 text-right">友链数</h6>
                                    <h4 class="text-right"><i
                                            class="fas fa-link pull-left bg-green c-icon"></i><span>23</span>
                                    </h4>
                                    <!--<p class="mb-0 mt-3 text-muted"><i
                                            class="fas fa-arrow-circle-down col-red m-r-5"></i><span
                                            class="col-red font-weight-bold">05%</span> then previous month</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h4>最新发布</h4>
                            </div>
                            <div class="card-body">
                                <div id="activity-scroll">
                                    <ul class="activity-list">
                                        <li th:each="blog: ${newPosts}"><i class="activity-icon bg-success"></i>
                                            <i class="fas fa-calendar"
                                               th:text="| ${#dates.format(blog.updateTime, 'yyyy-MM-dd')} |"></i>
                                            <a th:href="@{/admin/blogs/add/{id}(id=${blog.id})}" title="Edit"><h6
                                                    th:text="${blog.title}"></h6></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h4>最新评论</h4>
                            </div>
                            <div class="card-body">
                                <div id="support-scroll">
                                    <ul class="list-unstyled ">
                                        <li th:each="comment: ${newComments}"
                                            class="media border-bottom m-b-10 support-ticket">
                                            <img alt="image" class="mr-3 user-img" th:src="@{${comment.avatar}}"
                                                 width="40">
                                            <div class="media-body">
                                                <div class="media-right">
                                                    <i class="far fa-thumbs-up col-blue"></i>
                                                    <i class="far fa-thumbs-down col-red"></i>
                                                </div>
                                                <div class="media-title mb-1" th:text="${comment.nickname}">Alis Smith
                                                </div>
                                                <div class="text-muted font-12"
                                                     th:text="${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm')}">
                                                    05 March 2019
                                                </div>
                                                <div class="media-description" th:text="${comment.content}"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h4>系统日志（待开发...）</h4>
                            </div>
                            <div class="card-body">
                                <div class="media-list position-relative">
                                    <div class="table-responsive" id="project-team-scroll">
                                        <table class="table table-hover table-xl mb-0">
                                            <thead>
                                            <tr>
                                                <th class="border-top-0">Project Name</th>
                                                <th class="border-top-0">Employees</th>
                                                <th class="border-top-0">Cost</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="text-truncate">Project X</td>
                                                <td class="text-truncate">
                                                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle"
                                                                data-original-title="Wildan Ahdian"
                                                                data-toggle="tooltip" src="img/users/user.png"
                                                                title=""></li>
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle" data-original-title="John Deo"
                                                                data-toggle="tooltip" src="img/users/user.png"
                                                                title=""></li>
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle" data-original-title="Sarah Smith"
                                                                data-toggle="tooltip" src="img/users/user.png"
                                                                title=""></li>
                                                        <li class="avatar avatar-sm"><span class="badge badge-primary">+3</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-truncate">$8999</td>
                                            </tr>
                                            <tr>
                                                <td class="text-truncate">Project AB2</td>
                                                <td class="text-truncate">
                                                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle"
                                                                data-original-title="Wildan Ahdian"
                                                                data-toggle="tooltip" src="img/users/user.png"
                                                                title=""></li>
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle" data-original-title="John Deo"
                                                                data-toggle="tooltip" src="img/users/user.png"
                                                                title=""></li>
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle" data-original-title="Sarah Smith"
                                                                data-toggle="tooltip" src="img/users/user.png"
                                                                title=""></li>
                                                        <li class="avatar avatar-sm"><span class="badge badge-primary">+1</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-truncate">$5550</td>
                                            </tr>
                                            <tr>
                                                <td class="text-truncate">Project DS3</td>
                                                <td class="text-truncate">
                                                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle"
                                                                data-original-title="Wildan Ahdian"
                                                                data-toggle="tooltip" src="img/users/visitor.png"
                                                                title=""></li>
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle" data-original-title="Sarah Smith"
                                                                data-toggle="tooltip" src="img/users/user.png"
                                                                title=""></li>
                                                        <li class="avatar avatar-sm"><span class="badge badge-primary">+4</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-truncate">$9000</td>
                                            </tr>
                                            <tr>
                                                <td class="text-truncate">Project XCD</td>
                                                <td class="text-truncate">
                                                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle"
                                                                data-original-title="Wildan Ahdian"
                                                                data-toggle="tooltip" src="img/users/visitor.png"
                                                                title=""></li>
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle" data-original-title="John Deo"
                                                                data-toggle="tooltip" src="img/users/visitor.png"
                                                                title=""></li>
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle" data-original-title="Sarah Smith"
                                                                data-toggle="tooltip" src="img/users/user.png"
                                                                title=""></li>
                                                        <li class="avatar avatar-sm"><span class="badge badge-primary">+2</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-truncate">$7500</td>
                                            </tr>
                                            <tr>
                                                <td class="text-truncate">Project Z2</td>
                                                <td class="text-truncate">
                                                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle"
                                                                data-original-title="Wildan Ahdian"
                                                                data-toggle="tooltip" src="img/users/visitor.png"
                                                                title=""></li>
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle" data-original-title="Sarah Smith"
                                                                data-toggle="tooltip" src="img/users/visitor.png"
                                                                title=""></li>
                                                        <li class="avatar avatar-sm"><span class="badge badge-primary">+3</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-truncate">$8500</td>
                                            </tr>
                                            <tr>
                                                <td class="text-truncate">Project GTe</td>
                                                <td class="text-truncate">
                                                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle"
                                                                data-original-title="Wildan Ahdian"
                                                                data-toggle="tooltip" src="img/users/user.png"
                                                                title=""></li>
                                                        <li class="team-member team-member-sm"><img
                                                                alt="user"
                                                                class="rounded-circle" data-original-title="Sarah Smith"
                                                                data-toggle="tooltip" src="img/users/visitor.png"
                                                                title=""></li>
                                                        <li class="avatar avatar-sm"><span class="badge badge-primary">+3</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-truncate">$8500</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!--设置板-->
            <div th:replace="~{admin/commons/commons::admin-settingbar}"></div>
        </div>
        <!--底部-->
        <footer th:replace="~{admin/commons/commons::admin-footer}"></footer>
    </div>
</div>


<!-- General JS Scripts -->
<script th:src="@{js/app.min.js}"></script>
<!-- JS Libraies -->

<!-- Page Speific JS File -->
<!--<script th:src="@{js/page/index.js}"></script>-->
<!-- TemplateJS File -->
<script th:src="@{js/scripts.js}"></script>
<!-- Custom Js File -->
<script th:src="@{js/custom.js}"></script>
</body>

</html>