<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title = 'Blogs'">

<head th:replace="~{admin/commons/commons::admin-head(${title})}"></head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <!--顶部-->
        <div class="navbar-bg"></div>
        <nav th:replace="~{admin/commons/commons::admin-headerbar}"></nav>
        <!--侧边栏-->
        <div th:replace="~{admin/commons/commons::admin-sidebar(active='blogs')}"></div>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <!--          <ul class="breadcrumb breadcrumb-style ">-->
                <!--            <li class="breadcrumb-item">-->
                <!--              <h4 class="page-title m-b-0">博客列表</h4>-->
                <!--            </li>-->
                <!--          </ul>-->
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>博客列表</h4>
                                    <div class="card-header-form">
                                        <form>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="" type="text">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary"><i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-body text-center">
                                    <div th:class="${flag=='0'?'col-md-6 m-auto alert alert-success alert-has-icon alert-dismissible show fade': 'col-md-6 m-auto alert alert-danger alert-has-icon alert-dismissible show fade'}"
                                         th:unless="${#strings.isEmpty(msg)}">
                                        <button class="close" data-dismiss="alert">
                                            <span>&times;</span>
                                        </button>
                                        <div class="alert-icon"><i class="far fa-lightbulb"></i></div>
                                        <div class="alert-body">
                                            <div class="alert-title" th:text="'Tips: ' + ${msg}">Success</div>
                                        </div>
                                    </div>
                                    <div>
                                        <input type="hidden" name="page">
                                        <div class="form-group row mb-4">
                                            <div class="col-sm-12 col-md-1 m-auto text-right">
                                                <div class="pretty p-switch font-15">
                                                    <input type="checkbox" id="recommend" name="recommend">
                                                    <div class="state p-success">
                                                        <label for="recommend">推荐</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <input type="hidden">
                                                <select class="form-control selectric" name="typeId">
                                                    <option value="">类型</option>
                                                    <option th:each="type: ${types}" th:value="${type.id}"
                                                            th:text="${type.name}"></option>
                                                </select>
                                            </div>
                                            <!--                                            <div class="col-sm-12 col-md-2">-->
                                            <!--                                                <select class="form-control selectric">-->
                                            <!--                                                    <option>标签</option>-->
                                            <!--                                                    <option>原创</option>-->
                                            <!--                                                    <option>转载</option>-->
                                            <!--                                                    <option>翻译</option>-->
                                            <!--                                                    <option>其他</option>-->
                                            <!--                                                </select>-->
                                            <!--                                            </div>-->
                                            <div class="col-sm-12 col-md-4">
                                                <input type="text/html" name="title" class="form-control"
                                                       placeholder="请输入标题">
                                            </div>
                                            <div class="col-sm-12 col-md-2">
                                                <button type="button" id="search-btn" class="btn btn-primary h-100">
                                                    <i class="fas fa-search font-15"> 搜索</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <div th:fragment="blogList" id="table-container">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>标题</th>
                                                    <th>类型</th>
                                                    <th>更新时间</th>
                                                    <th>推荐</th>
                                                    <th>状态</th>
                                                    <th>操作</th>
                                                </tr>
                                                </thead>
                                                <tr th:each="blog, iterStat: ${page.content}">
                                                    <td th:text="${iterStat.count}"></td>
                                                    <td th:text="${blog.title}">标题</td>
                                                    <td th:text="${blog.type.name}">类型</td>
                                                    <td th:text="${blog.updateTime}">20-02-2018</td>
                                                    <td th:text="${blog.recommend?'是': '否'}">推荐</td>
                                                    <td th:text="${blog.published?'已发布': '草稿'}">
                                                        <!--                                                    <div class="badge-outline col-red">High</div>-->
                                                    </td>
                                                    <td>
                                                        <a th:href="@{/admin/blogs/add/{id}(id=${blog.id})}"
                                                           data-original-title="Edit" data-toggle="tooltip" title="">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                        <a th:href="@{/admin/blogs/delete/{id}(id=${blog.id})}"
                                                           data-original-title="Delete" data-toggle="tooltip" title="">
                                                            <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!--分页-->
                                            <div class="card-footer text-center">
                                                <nav class="d-inline-block mr-5">
                                                    <a href="javascript:history.go(-1)"
                                                       class="btn btn-outline-primary font-weight-bold font-14">返 回</a>
                                                    <a th:href="@{/admin/blogs/add}"
                                                       class="btn btn-outline-primary font-weight-bold font-14">添 加</a>
                                                </nav>
                                                <nav class="d-inline-block ml-5">
                                                    <ul class="pagination mb-0" th:if="${page.numberOfElements>0}">
                                                        <li th:class="${page.first?'page-item disabled': 'page-item'}">
                                                            <a class="page-link" onclick="page(this)"
                                                               th:attr="data-page=${page.number}-1">
                                                                <i class="fas fa-chevron-left"></i>
                                                            </a>
                                                        </li>
                                                        <li th:each="i: ${#numbers.sequence(1, page.totalPages)}"
                                                            th:class="${i==page.number+1?'page-item active disabled': 'page-item'}">
                                                            <a class="page-link" th:text="${i}" style="color: #2d2d2d"
                                                               onclick="page(this)"
                                                               th:attr="data-page=${page.number}+${i}-${page.number}-1">1</a>
                                                        </li>
                                                        <li th:class="${page.last?'page-item disabled': 'page-item'}">
                                                            <a class="page-link" onclick="page(this)"
                                                               th:attr="data-page=${page.number}+1">
                                                                <i class="fas fa-chevron-right"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div th:replace="~{admin/commons/commons::admin-settingbar}"></div>
        </div>
        <!--底部-->
        <footer th:replace="~{admin/commons/commons::admin-footer}"></footer>
    </div>
</div>
<!-- General JS Scripts -->
<script th:src="@{js/app.min.js}"></script>
<!-- JS Libraies -->
<!--<script th:src="@{bundles/editable-table/mindmup-editabletable.js}"></script>-->
<!-- Page Specific JS File -->
<!--<script th:src="@{js/page/editable-table.js}"></script>-->
<!-- Template JS File -->
<script th:src="@{js/scripts.js}"></script>
<!-- Custom JS File -->
<script th:src="@{js/custom.js}"></script>

<script type="text/javascript">

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));

        loadData();
    }

    $("#search-btn").click(function () {
        loadData();
    })

    function loadData() {
        // $.ajax()
        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
            title: $("[name='title']").val(),
            typeId: $("[name='typeId']").val(),
            recommend: $("[name='recommend']").prop('checked'),
            page: $("[name='page']").val()
        })
    }


</script>
</body>

</html>