<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title = 'Blogs'">

<head th:replace="~{admin/commons/commons::admin-head(${title})}"></head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <!--顶部-->
        <div class="navbar-bg"></div>
        <nav th:replace="~{admin/commons/commons::admin-headerbar}"></nav>
        <!--侧边栏-->
        <div th:replace="~{admin/commons/commons::admin-sidebar(active='blogs')}"></div>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <!--          <ul class="breadcrumb breadcrumb-style ">-->
                <!--            <li class="breadcrumb-item">-->
                <!--              <h4 class="page-title m-b-0">博客列表</h4>-->
                <!--            </li>-->
                <!--          </ul>-->
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>博客列表</h4>
                                    <div class="card-header-form">
                                        <form>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="Search" type="text">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary"><i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Cust.</th>
                                                <th>Project</th>
                                                <th>Assign Date</th>
                                                <th>Team</th>
                                                <th>Priority</th>
                                                <th>Status</th>
                                                <th>Edit</th>
                                            </tr>
                                            </thead>
                                            <tr>
                                                <td class="table-img"><img alt="" src="img/users/user-8.png">
                                                </td>
                                                <td>
                                                    <h6 class="mb-0 font-13">Wordpress Website</h6>
                                                    <p class="m-0 font-12">
                                                        Assigned to<span
                                                            class="col-green font-weight-bold"> Airi Satou</span>
                                                    </p>
                                                </td>
                                                <td>20-02-2018</td>
                                                <td class="text-truncate">
                                                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Wildan Ahdian"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-8.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="John Deo"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-9.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Sarah Smith"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-10.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="avatar avatar-sm"><span
                                                                class="badge badge-primary">+4</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="badge-outline col-red">High</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress-text">50%</div>
                                                    <div class="progress" data-height="6">
                                                        <div class="progress-bar bg-success" data-width="50%"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a data-original-title="Edit" data-toggle="tooltip" title=""><i
                                                            class="fas fa-pencil-alt"></i></a>
                                                    <a data-original-title="Delete" data-toggle="tooltip" title=""><i
                                                            class="far fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-img"><img alt="" src="img/users/user-1.png">
                                                </td>
                                                <td>
                                                    <h6 class="mb-0 font-13">Android Game App</h6>
                                                    <p class="m-0 font-12">
                                                        Assigned to<span
                                                            class="col-green font-weight-bold"> Sarah Smith</span>
                                                    </p>
                                                </td>
                                                <td>22-05-2019</td>
                                                <td class="text-truncate">
                                                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Wildan Ahdian"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-4.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="John Deo"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-7.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Sarah Smith"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-2.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="avatar avatar-sm"><span
                                                                class="badge badge-primary">+4</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="badge-outline col-green">Low</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress-text">55%</div>
                                                    <div class="progress" data-height="6">
                                                        <div class="progress-bar bg-purple" data-width="55%"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a data-original-title="Edit" data-toggle="tooltip" title=""><i
                                                            class="fas fa-pencil-alt"></i></a>
                                                    <a data-original-title="Delete" data-toggle="tooltip" title=""><i
                                                            class="far fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-img"><img alt="" src="img/users/user-5.png">
                                                </td>
                                                <td>
                                                    <h6 class="mb-0 font-13">Java Web Service</h6>
                                                    <p class="m-0 font-12">
                                                        Assigned to<span
                                                            class="col-green font-weight-bold"> Cara Stevens</span>
                                                    </p>
                                                </td>
                                                <td>11-04-2019</td>
                                                <td class="text-truncate">
                                                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Wildan Ahdian"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-3.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="John Deo"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-7.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Sarah Smith"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-8.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="avatar avatar-sm"><span
                                                                class="badge badge-primary">+4</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="badge-outline col-blue">Medium</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress-text">70%</div>
                                                    <div class="progress" data-height="6">
                                                        <div class="progress-bar" data-width="70%"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a data-original-title="Edit" data-toggle="tooltip" title=""><i
                                                            class="fas fa-pencil-alt"></i></a>
                                                    <a data-original-title="Delete" data-toggle="tooltip" title=""><i
                                                            class="far fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-img"><img alt="" src="img/users/user-9.png">
                                                </td>
                                                <td>
                                                    <h6 class="mb-0 font-13">Wedding IOS App</h6>
                                                    <p class="m-0 font-12">
                                                        Assigned to<span
                                                            class="col-green font-weight-bold"> John Doe</span>
                                                    </p>
                                                </td>
                                                <td>19-05-2019</td>
                                                <td class="text-truncate">
                                                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Wildan Ahdian"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-2.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="John Deo"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-10.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Sarah Smith"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-4.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="avatar avatar-sm"><span
                                                                class="badge badge-primary">+4</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="badge-outline col-red">High</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress-text">45%</div>
                                                    <div class="progress" data-height="6">
                                                        <div class="progress-bar bg-cyan" data-width="45%"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a data-original-title="Edit" data-toggle="tooltip" title=""><i
                                                            class="fas fa-pencil-alt"></i></a>
                                                    <a data-original-title="Delete" data-toggle="tooltip" title=""><i
                                                            class="far fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-img"><img alt="" src="img/users/user-10.png">
                                                </td>
                                                <td>
                                                    <h6 class="mb-0 font-13">Blize Admin Template</h6>
                                                    <p class="m-0 font-12">
                                                        Assigned to<span
                                                            class="col-green font-weight-bold"> Ashton Cox</span>
                                                    </p>
                                                </td>
                                                <td>25-07-2019</td>
                                                <td class="text-truncate">
                                                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Wildan Ahdian"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-1.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="John Deo"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-5.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Sarah Smith"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-7.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="avatar avatar-sm"><span
                                                                class="badge badge-primary">+4</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="badge-outline col-blue">Medium</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress-text">67%</div>
                                                    <div class="progress" data-height="6">
                                                        <div class="progress-bar bg-red" data-width="67%"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a data-original-title="Edit" data-toggle="tooltip" title=""><i
                                                            class="fas fa-pencil-alt"></i></a>
                                                    <a data-original-title="Delete" data-toggle="tooltip" title=""><i
                                                            class="far fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-img"><img alt="" src="img/users/user-4.png">
                                                </td>
                                                <td>
                                                    <h6 class="mb-0 font-13">React js website</h6>
                                                    <p class="m-0 font-12">
                                                        Assigned to<span
                                                            class="col-green font-weight-bold"> Sarah Smith </span>
                                                    </p>
                                                </td>
                                                <td>11-08-2019</td>
                                                <td class="text-truncate">
                                                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Wildan Ahdian"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-5.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="John Deo"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-8.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Sarah Smith"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-3.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="avatar avatar-sm"><span
                                                                class="badge badge-primary">+4</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="badge-outline col-green">Low</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress-text">41%</div>
                                                    <div class="progress" data-height="6">
                                                        <div class="progress-bar bg-orange" data-width="41%"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a data-original-title="Edit" data-toggle="tooltip" title=""><i
                                                            class="fas fa-pencil-alt"></i></a>
                                                    <a data-original-title="Delete" data-toggle="tooltip" title=""><i
                                                            class="far fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-img"><img alt="" src="img/users/user-10.png">
                                                </td>
                                                <td>
                                                    <h6 class="mb-0 font-13">SEO improvement</h6>
                                                    <p class="m-0 font-12">
                                                        Assigned to<span
                                                            class="col-green font-weight-bold"> Janak Gandhi</span>
                                                    </p>
                                                </td>
                                                <td>22-02-2018</td>
                                                <td class="text-truncate">
                                                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Wildan Ahdian"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-3.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="John Deo"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-9.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Sarah Smith"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-1.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="avatar avatar-sm"><span
                                                                class="badge badge-primary">+4</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="badge-outline col-red">High</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress-text">70%</div>
                                                    <div class="progress" data-height="6">
                                                        <div class="progress-bar bg-success" data-width="70%"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a data-original-title="Edit" data-toggle="tooltip" title=""><i
                                                            class="fas fa-pencil-alt"></i></a>
                                                    <a data-original-title="Delete" data-toggle="tooltip" title=""><i
                                                            class="far fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-img"><img alt="" src="img/users/user-6.png">
                                                </td>
                                                <td>
                                                    <h6 class="mb-0 font-13">Laravel Website</h6>
                                                    <p class="m-0 font-12">
                                                        Assigned to<span
                                                            class="col-green font-weight-bold"> Mili Rain</span>
                                                    </p>
                                                </td>
                                                <td>31-03-2019</td>
                                                <td class="text-truncate">
                                                    <ul class="list-unstyled order-list m-b-0 m-b-0">
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Wildan Ahdian"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-4.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="John Deo"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-7.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="team-member team-member-sm"><img alt="user"
                                                                                                    class="rounded-circle"
                                                                                                    data-original-title="Sarah Smith"
                                                                                                    data-toggle="tooltip"
                                                                                                    src="img/users/user-2.png"
                                                                                                    title="">
                                                        </li>
                                                        <li class="avatar avatar-sm"><span
                                                                class="badge badge-primary">+4</span></li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <div class="badge-outline col-green">Low</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="progress-text">55%</div>
                                                    <div class="progress" data-height="6">
                                                        <div class="progress-bar bg-purple" data-width="55%"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a data-original-title="Edit" data-toggle="tooltip" title=""><i
                                                            class="fas fa-pencil-alt"></i></a>
                                                    <a data-original-title="Delete" data-toggle="tooltip" title=""><i
                                                            class="far fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <nav class="d-inline-block">
                                        <ul class="pagination mb-0">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1"><i
                                                        class="fas fa-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1 <span
                                                    class="sr-only">(current)</span></a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">2</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="settingSidebar">
                <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
                </a>
                <div class="settingSidebar-body ps-container ps-theme-default">
                    <div class=" fade show active">
                        <div class="setting-panel-header">Setting Panel
                        </div>
                        <div class="p-15 border-bottom">
                            <h6 class="font-medium m-b-10">Select Layout</h6>
                            <div class="selectgroup layout-color w-50">
                                <label class="selectgroup-item">
                                    <input type="radio" name="value" value="1"
                                           class="selectgroup-input-radio select-layout" checked>
                                    <span class="selectgroup-button">Light</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="radio" name="value" value="2"
                                           class="selectgroup-input-radio select-layout">
                                    <span class="selectgroup-button">Dark</span>
                                </label>
                            </div>
                        </div>
                        <div class="p-15 border-bottom">
                            <h6 class="font-medium m-b-10">Sidebar Color</h6>
                            <div class="selectgroup selectgroup-pills sidebar-color">
                                <label class="selectgroup-item">
                                    <input type="radio" name="icon-input" value="1"
                                           class="selectgroup-input select-sidebar">
                                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                                          data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="radio" name="icon-input" value="2"
                                           class="selectgroup-input select-sidebar" checked>
                                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                                          data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                                </label>
                            </div>
                        </div>
                        <div class="p-15 border-bottom">
                            <h6 class="font-medium m-b-10">Color Theme</h6>
                            <div class="theme-setting-options">
                                <ul class="choose-theme list-unstyled mb-0">
                                    <li title="white" class="active">
                                        <div class="white"></div>
                                    </li>
                                    <li title="cyan">
                                        <div class="cyan"></div>
                                    </li>
                                    <li title="black">
                                        <div class="black"></div>
                                    </li>
                                    <li title="purple">
                                        <div class="purple"></div>
                                    </li>
                                    <li title="orange">
                                        <div class="orange"></div>
                                    </li>
                                    <li title="green">
                                        <div class="green"></div>
                                    </li>
                                    <li title="red">
                                        <div class="red"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-15 border-bottom">
                            <div class="theme-setting-options">
                                <label class="m-b-0">
                                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                           id="mini_sidebar_setting">
                                    <span class="custom-switch-indicator"></span>
                                    <span class="control-label p-l-10">Mini Sidebar</span>
                                </label>
                            </div>
                        </div>
                        <div class="p-15 border-bottom">
                            <div class="theme-setting-options">
                                <label class="m-b-0">
                                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                           id="sticky_header_setting">
                                    <span class="custom-switch-indicator"></span>
                                    <span class="control-label p-l-10">Sticky Header</span>
                                </label>
                            </div>
                        </div>
                        <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                            <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                                <i class="fas fa-undo"></i> Restore Default
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--底部-->
        <footer th:replace="~{admin/commons/commons::admin-footer}"></footer>
    </div>
</div>
<!-- General JS Scripts -->
<script th:src="@{js/app.min.js}"></script>
<!-- JS Libraies -->
<script th:src="@{bundles/editable-table/mindmup-editabletable.js}"></script>
<!-- Page Specific JS File -->
<script th:src="@{js/page/editable-table.js}"></script>
<!-- Template JS File -->
<script th:src="@{js/scripts.js}"></script>
<!-- Custom JS File -->
<script th:src="@{js/custom.js}"></script>
</body>

</html>