<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--head-->
<head th:fragment="admin-head(title)">
    <meta charset="utf-8">
    <title th:text="${title}">Scy | Admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- General CSS Files -->
    <link rel="stylesheet" th:href="@{css/app.min.css}">
    <link rel="stylesheet" th:href="@{bundles/summernote/summernote-bs4.css}">
    <link rel="stylesheet" th:href="@{bundles/jquery-selectric/selectric.css}">
    <link rel="stylesheet" th:href="@{bundles/bootstrap-social/bootstrap-social.css}">
    <link rel="stylesheet" th:href="@{bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css}">
    <link rel="stylesheet" th:href="@{bundles/datatables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{bundles/datatables/Select-1.2.4/css/select.bootstrap4.min.css}">
    <!--editormd CSS-->
    <link rel="stylesheet" th:href="@{bundles/editormd/css/editormd.css}">
    <!--formSelects-v4 CSS-->
    <link rel="stylesheet" th:href="@{bundles/formSelects/formSelects-v4.css}">
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{bundles/pretty-checkbox/pretty-checkbox.min.css}">
    <link rel="stylesheet" th:href="@{css/components.css}">
    <!-- Custom style CSS -->
    <link rel="stylesheet" th:href="@{css/custom.css}">
    <link rel='shortcut icon' type='image/x-icon' th:href="@{img/favicon.ico}"/>
</head>

<!--头部导航区域-->
<nav class="navbar navbar-expand-lg main-navbar sticky" th:fragment="admin-headerbar">
    <div class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li><a class="nav-link nav-link-lg
									collapse-btn" data-toggle="sidebar" href="#"> <i
                    data-feather="align-justify"></i></a></li>
            <li><a class="nav-link nav-link-lg fullscreen-btn" href="#">
                <i data-feather="maximize"></i>
            </a></li>
            <li>
                <form class="form-inline mr-auto">
                    <div class="search-element">
                        <input aria-label="Search" class="form-control" data-width="200" placeholder="Search"
                               type="search">
                        <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav navbar-right">
        <li class="dropdown dropdown-list-toggle"><a class="nav-link nav-link-lg message-toggle" data-toggle="dropdown"
                                                     href="#"><i
                data-feather="mail"></i>
            <span class="badge headerBadge1">
                6 </span> </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                <div class="dropdown-header">
                    Messages
                    <div class="float-right">
                        <a href="#">Mark All As Read</a>
                    </div>
                </div>
                <div class="dropdown-list-content dropdown-list-message">
                    <a class="dropdown-item" href="#"> <span class="dropdown-item-avatar
											text-white"> <img alt="image" class="rounded-circle"
                                                              src="img/users/user-1.png">
                  </span> <span class="dropdown-item-desc"> <span class="message-user">John
                      Deo</span>
                    <span class="time messege-text">Please check your mail !!</span>
                    <span class="time">2 Min Ago</span>
                  </span>
                    </a> <a class="dropdown-item" href="#"> <span class="dropdown-item-avatar text-white">
                    <img alt="image" class="rounded-circle" src="img/users/user-2.png">
                  </span> <span class="dropdown-item-desc"> <span class="message-user">Sarah
                      Smith</span> <span class="time messege-text">Request for leave
                      application</span>
                    <span class="time">5 Min Ago</span>
                  </span>
                </a> <a class="dropdown-item" href="#"> <span class="dropdown-item-avatar text-white">
                    <img alt="image" class="rounded-circle" src="img/users/user-5.png">
                  </span> <span class="dropdown-item-desc"> <span class="message-user">Jacob
                      Ryan</span> <span class="time messege-text">Your payment invoice is
                      generated.</span> <span class="time">12 Min Ago</span>
                  </span>
                </a> <a class="dropdown-item" href="#"> <span class="dropdown-item-avatar text-white">
                    <img alt="image" class="rounded-circle" src="img/users/user-4.png">
                  </span> <span class="dropdown-item-desc"> <span class="message-user">Lina
                      Smith</span> <span class="time messege-text">hii John, I have upload
                      doc
                      related to task.</span> <span class="time">30
                      Min Ago</span>
                  </span>
                </a> <a class="dropdown-item" href="#"> <span class="dropdown-item-avatar text-white">
                    <img alt="image" class="rounded-circle" src="img/users/user-3.png">
                  </span> <span class="dropdown-item-desc"> <span class="message-user">Jalpa
                      Joshi</span> <span class="time messege-text">Please do as specify.
                      Let me
                      know if you have any query.</span> <span class="time">1
                      Days Ago</span>
                  </span>
                </a> <a class="dropdown-item" href="#"> <span class="dropdown-item-avatar text-white">
                    <img alt="image" class="rounded-circle" src="img/users/user-2.png">
                  </span> <span class="dropdown-item-desc"> <span class="message-user">Sarah
                      Smith</span> <span class="time messege-text">Client Requirements</span>
                    <span class="time">2 Days Ago</span>
                  </span>
                </a>
                </div>
                <div class="dropdown-footer text-center">
                    <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </li>
        <li class="dropdown dropdown-list-toggle"><a class="nav-link notification-toggle nav-link-lg"
                                                     data-toggle="dropdown"
                                                     href="#"><i
                class="bell" data-feather="bell"></i>
        </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                <div class="dropdown-header">
                    Notifications
                    <div class="float-right">
                        <a href="#">Mark All As Read</a>
                    </div>
                </div>
                <div class="dropdown-list-content dropdown-list-icons">
                    <a class="dropdown-item dropdown-item-unread" href="#"> <span
                            class="dropdown-item-icon bg-primary text-white"> <i class="fas
												fa-code"></i>
                  </span> <span class="dropdown-item-desc"> Template update is
                    available now! <span class="time">2 Min
                      Ago</span>
                  </span>
                    </a> <a class="dropdown-item" href="#"> <span class="dropdown-item-icon bg-info text-white"> <i
                        class="far
												fa-user"></i>
                  </span> <span class="dropdown-item-desc"> <b>You</b> and <b>Dedik
                      Sugiharto</b> are now friends <span class="time">10 Hours
                      Ago</span>
                  </span>
                </a> <a class="dropdown-item" href="#"> <span class="dropdown-item-icon bg-success text-white"> <i
                        class="fas
												fa-check"></i>
                  </span> <span class="dropdown-item-desc"> <b>Kusnaedi</b> has
                    moved task <b>Fix bug header</b> to <b>Done</b> <span class="time">12
                      Hours
                      Ago</span>
                  </span>
                </a> <a class="dropdown-item" href="#"> <span
                        class="dropdown-item-icon bg-danger text-white"> <i
                        class="fas fa-exclamation-triangle"></i>
                  </span> <span class="dropdown-item-desc"> Low disk space. Let's
                    clean it! <span class="time">17 Hours Ago</span>
                  </span>
                </a> <a class="dropdown-item" href="#"> <span class="dropdown-item-icon bg-info text-white"> <i
                        class="fas
												fa-bell"></i>
                  </span> <span class="dropdown-item-desc"> Welcome to Zivi
                    template! <span class="time">Yesterday</span>
                  </span>
                </a>
                </div>
                <div class="dropdown-footer text-center">
                    <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </li>
        <li class="dropdown"><a class="nav-link dropdown-toggle nav-link-lg nav-link-user" data-toggle="dropdown"
                                href="#"> <img alt="image"
                                               class="user-img-radious-style"
                                               src="img/user.png">
            <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
                <div class="dropdown-title">Hello Scy</div>
                <!--th:text="Hello + ${#request.session.getAttribute('user')['username']}"-->
                <a class="dropdown-item has-icon" href="profile.html"> <i class="far
										fa-user"></i> Profile
                </a> <a class="dropdown-item has-icon" href="timeline.html"> <i class="fas fa-bolt"></i>
                Activities
            </a> <a class="dropdown-item has-icon" href=""> <i class="fas fa-cog"></i>
                Settings
            </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item has-icon text-danger" th:href="@{/admin/logout}"> <i
                        class="fas fa-sign-out-alt"></i>
                    Logout
                </a>
            </div>
        </li>
    </ul>
</nav>

<!-- 侧边菜单 -->
<div class="main-sidebar sidebar-style-2" th:fragment="admin-sidebar(active)">
    <aside id="sidebar-wrapper">
        <div class="sidebar-user">
            <div class="sidebar-user-picture">
                <img alt="image" src="img/user.png">
            </div>
            <div class="sidebar-user-details">
                <div class="user-name">Scy</div>
                <div class="user-role">Administrator</div>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li th:class="${active=='home'}? 'dropdown active' : 'dropdown'">
                <a class="menu-toggle nav-link" th:href="@{/admin/}">
                    <i data-feather="monitor"></i><span>主页</span></a>
            </li>
            <li th:class="${active=='blogs'}? 'dropdown active' : 'dropdown'">
                <a class="menu-toggle nav-link" th:href="@{/admin/blogs}"><i
                        data-feather="briefcase"></i><span>博客列表</span></a>
            </li>
            <li th:class="${active=='post'}? 'dropdown active' : 'dropdown'">
                <a class="menu-toggle nav-link" th:href="@{/admin/post}"><i
                        data-feather="command"></i><span>发布博客</span></a>
            </li>
            <li th:class="${active=='types'}? 'dropdown active' : 'dropdown'">
                <a class="menu-toggle nav-link" th:href="@{/admin/types}"><i
                        data-feather="mail"></i><span>分类管理</span></a>
            </li>
            <li th:class="${active=='tags'}? 'dropdown active' : 'dropdown'">
                <a class="menu-toggle nav-link" th:href="@{/admin/tags}"><i
                        data-feather="mail"></i><span>标签管理</span></a>
            </li>
            <li th:class="${active=='comments'}? 'dropdown active' : 'dropdown'">
                <a class="menu-toggle nav-link" th:href="@{/admin/comments}"><i
                        data-feather="mail"></i><span>评论管理</span></a>
            </li>
            <li th:class="${active=='friends'}? 'dropdown active' : 'dropdown'">
                <a class="menu-toggle nav-link" href="#"><i
                        data-feather="mail"></i><span>友链管理</span></a>
            </li>
            <li class="menu-header">Settings</li>
            <li th:class="${active=='settings'}? 'dropdown active' : 'dropdown'">
                <a class="menu-toggle nav-link" href="#"><i
                        data-feather="mail"></i><span>设置</span></a>
            </li>
        </ul>
    </aside>
</div>

<!--设置板-->
<div class="settingSidebar" th:fragment="admin-settingbar">
    <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
    </a>
    <div class="settingSidebar-body ps-container ps-theme-default">
        <div class=" fade show active">
            <div class="setting-panel-header">Setting Panel
            </div>
            <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                    <label class="selectgroup-item">
                        <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout"
                               checked>
                        <span class="selectgroup-button">Light</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                        <span class="selectgroup-button">Dark</span>
                    </label>
                </div>
            </div>
            <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                        <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                              data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar"
                               checked>
                        <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                              data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                    </label>
                </div>
            </div>
            <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                    <ul class="choose-theme list-unstyled mb-0">
                        <li title="white" class="active">
                            <div class="white"></div>
                        </li>
                        <li title="cyan">
                            <div class="cyan"></div>
                        </li>
                        <li title="black">
                            <div class="black"></div>
                        </li>
                        <li title="purple">
                            <div class="purple"></div>
                        </li>
                        <li title="orange">
                            <div class="orange"></div>
                        </li>
                        <li title="green">
                            <div class="green"></div>
                        </li>
                        <li title="red">
                            <div class="red"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                    <label class="m-b-0">
                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                               id="mini_sidebar_setting">
                        <span class="custom-switch-indicator"></span>
                        <span class="control-label p-l-10">Mini Sidebar</span>
                    </label>
                </div>
            </div>
            <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                    <label class="m-b-0">
                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                               id="sticky_header_setting">
                        <span class="custom-switch-indicator"></span>
                        <span class="control-label p-l-10">Sticky Header</span>
                    </label>
                </div>
            </div>
            <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                    <i class="fas fa-undo"></i> Restore Default
                </a>
            </div>
        </div>
    </div>
</div>

<!--底部声明-->
<footer class="main-footer" th:fragment="admin-footer">
    <div class="footer-left">
        Copyright &copy; 2020
        <div class="bullet"></div>
        Design By <a href="http://www.bootstrapmb.com/">Scy</a>
    </div>
    <div class="footer-right">
    </div>
</footer>

</html>