<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title = 'Admin | Home'">

<head th:replace="~{admin/commons/commons::admin-head(${title})}"></head>

<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <!--信息展示-->
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header m-margin-lr-1">
                    <i class="fas fa-book-reader m-icon-1"> 访问量</i>
                    <span class="layui-badge layui-bg-blue layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font m-center">9,999,666</p>
                    <p>
                        总计访问量
                        <span class="layuiadmin-span-color">88万 <i class="layui-inline layui-icon layui-icon-flag"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    <i class="fas fa-cloud-upload-alt m-icon-1"> 发布量</i>
                    <span class="layui-badge layui-bg-blue layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font m-center">33,555</p>
                    <p>
                        总发布数量
                        <span class="layuiadmin-span-color">2,999,020 <i
                                class="layui-inline layui-icon layui-icon-release"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    <i class="fas fa-comment-alt m-icon-1"> 评论数</i>
                    <span class="layui-badge layui-bg-blue layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font m-center">666</p>
                    <p>
                        总评论数
                        <span class="layuiadmin-span-color">999 <i
                                class="layui-inline layui-icon layui-icon-reply-fill"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    <i class="fas fa-link m-icon-1"> 友链数</i>
                    <span class="layui-badge layui-bg-blue layuiadmin-badge">总</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font m-center">66,666</p>
                    <p>
                        ----
                        <span class="layuiadmin-span-color">-- <i
                                class="layui-inline layui-icon layui-icon-face-smile-fine"></i></span>
                    </p>
                </div>
            </div>
        </div>


        <!--最新发布的文章-->
        <div class="layui-col-sm4">
            <div class="layui-card">
                <div class="layui-card-header"><i class="layui-icon layui-icon-release m-icon-2"> 最新发布</i></div>
                <hr>
                <div class="layui-card-body">
                    <ul class="layuiadmin-card-status layuiadmin-home2-usernote">
                        <li class="m-margin-tb-1">
                            <h3 class="m-center"><a href="#">《作为 layui 官方推出的后台模板，从初版的饱受争议》</a></h3>
                            <span><i class="fas fa-calendar-plus m-icon-1"></i> 2020-07-09 00:00</span>
                            <a href="javascript:;" class="layui-btn layui-btn-xs layuiadmin-reply">查看</a>
                        </li>
                        <li class="m-margin-tb-1">
                            <h3 class="m-center"><a href="#">《作为 layui 官方推出的后台模板，从初版的饱受争议》</a></h3>
                            <span><i class="fas fa-calendar-plus m-icon-1"></i> 2020-07-09 00:00</span>
                            <a href="javascript:;" class="layui-btn layui-btn-xs layuiadmin-reply">查看</a>
                        </li>
                        <li class="m-margin-tb-1">
                            <h3 class="m-center"><a href="#">《作为 layui 官方推出的后台模板，从初版的饱受争议》</a></h3>
                            <span><i class="fas fa-calendar-plus m-icon-1"></i> 2020-07-09 00:00</span>
                            <a href="javascript:;" class="layui-btn layui-btn-xs layuiadmin-reply">查看</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="layui-col-sm8">
            <div class="layui-row layui-col-space15">
                <!--最新评论-->
                <div class="layui-col-sm6">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-reply-fill m-icon-2"> 最新评论</i>
                        </div>
                        <hr>
                        <div class="layui-card-body">
                            <ul class="layuiadmin-card-status layuiadmin-home2-usernote">
                                <li>
                                    <h3>胡歌</h3>
                                    <p>你以为只要长得漂亮就有男生喜欢？你以为只要有了钱漂亮妹子就自己贴上来了？你以为学霸就能找到好工作？我告诉你吧，这些都是真的！</p>
                                    <span><i class="fas fa-calendar-plus m-icon-1"></i> 2020-07-09 00:00</span>
                                    <a href="javascript:;" layadmin-event="replyNote" data-id="6"
                                       class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                                </li>
                                <li>
                                    <h3>张爱玲</h3>
                                    <p>
                                        于千万人之中遇到你所要遇到的人，于千万年之中，时间的无涯的荒野中，没有早一步，也没有晚一步，刚巧赶上了，那也没有别的话好说，唯有轻轻的问一声：“噢，原来你也在这里？”</p>
                                    <span><i class="fas fa-calendar-plus m-icon-1"></i> 2020-07-09 00:00</span>
                                    <a href="javascript:;" layadmin-event="replyNote" data-id="1"
                                       class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--系统日志-->
                <div class="layui-col-sm6">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="layui-icon layui-icon-form m-icon-2"> 系统日志</i></div>
                        <hr>
                        <div class="layui-card-body">
                            <ul class="layuiadmin-card-status layuiadmin-home2-usernote">
                                <li class="m-margin-tb-1">
                                    <h3><span>2020-07-09 00:00</span> ==> <span>登录后台</span></h3>
                                </li>
                                <li class="m-margin-tb-1">
                                    <h3><span>2020-07-09 00:00</span> ==> <span>修改系统设置</span></h3>
                                </li>
                                <li class="m-margin-tb-1">
                                    <h3><span>2020-07-09 00:00</span> ==> <span>登录后台</span></h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<script th:src="@{admin/layui/layui.js}"></script>
<script>
    layui.config({
        base: '../../../static/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'sample']);
</script>
</body>
</html>